.App {
  
}

.btn-primary{
  background-color: #335877;
  border: 5px solid #e7e7e7;
}

.btn-primary:hover{
  background-color: #335877;
  border: 5px solid #e7e7e7;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}