body {
  margin: 0;
  font-size: 12px;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeef6;
}

hr {
	color: gray;
	border-style: inset;
	width: 100%;
	margin: 0.5em auto;
}